<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title></title>

</head><body>
<center>
<font color="black"><h2>Test</h2>
<br>
Server host name : {{ ansible_hostname }}<br>
Server OS family : {{ ansible_os_family }}<br>
Server IP address : {{ ansible_default_ipv4.address }}<br>
<br>
<img src="ansible.png" width="130" height="150" alt="ansible">
<img src="aws.png" width="200" height="150" alt="aws">

</font></font></center></body></html>